body {
    font-family: "Roboto Condensed";
    font-size: 15px;
    line-height: 20px;
}

.container{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}

header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    margin-left: 20px;
    font-size: 10px;
}

main{
    grid-area: main;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 20px;
}

footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: rgb(117, 189, 8);
}


@media (min-width: 551px) and (max-width: 760px) {

header{
    grid-area: header;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

header source {
    order: 1;
}

header h1 {
    order:2;
    text-align: center;
    font-size: 25px;
}

}

@media only screen and (max-width: 550px) {

    header{
        grid-area: header;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    header source {
        order: 1;

    }
    
    header h1 {
        order:2;
        font-size: 20px;
    }

    main {
        font-size: 12px;
    }


}



