:root {
    --color1: #001219;
    --color2: #005f73;
    --color3: white;
    --color4: greenyellow;
}

.second_title {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}

  
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.1fr 0.4fr 0.1fr 0.1fr 0.4fr 0.1fr 0.4fr 0.1fr 0.4fr 0.1fr 0.4fr 0.1fr;
    grid-template-areas:
      "item-1 item-1 item-1 item-1 item-1 item-1 item-2 item-2 item-2 item-2"
      "item-3 item-3 item-3 item-3 item-3 item-3 item-3 item-3 item-3 item-3"
      "item-4 item-4 item-4 item-5 item-5 item-6 item-7 item-7 item-7 item-7"
      "item-8 item-8 item-8 item-8 item-8 item-8 item-8 item-8 item-8 item-8"
      " . item-9 item-9 item-9 item-10 item-10 item-10 item-10 item-10 . "
      " . item-9 item-9 item-9 item-11 item-11 item-11 item-11 item-11 . "
      " . item-12 item-12 item-12 item-13 item-13 item-13 item-13 item-13 . "
      " . item-12 item-12 item-12 item-14 item-14 item-14 item-14 item-14 . "
      " . item-15 item-15 item-15 item-16 item-16 item-16 item-16 item-16 . "
      " . item-15 item-15 item-15 item-17 item-17 item-17 item-17 item-17 . "
      " . item-18 item-18 item-18 item-19 item-19 item-19 item-19 item-19 . "
      " . item-18 item-18 item-18 item-20 item-20 item-20 item-20 item-20 . "
      "footer footer footer footer footer footer footer footer footer footer";
    grid-gap: 0.2rem;
}
    
.item_1 {
      grid-area: item-1;
}
    
.main_photo {
      width: 100%
}

.item_2 {
      grid-area: item-2;
      display: grid;
      align-items: center;
}

.item_3 {
      grid-area: item-3;
      padding-top: 15px;
}

.first_title {
      text-align: center;
      font-size: 25px;
      font-weight: 300;
      margin: 0;
      color: var(--color1);
}

.item_4 {
      grid-area: item-4;
      display: flex;
      align-items: center;
}

.medals_photo{
  width: 100%;
}

.item_5 {
      grid-area: item-5;
      display: flex;
      align-items: center;    
}
    
.item_6 {

      grid-area: item-6;
      display: flex;
      align-items: center;
      justify-content: center;
}

.torch_photo{
      height: 70%;
      width: 100%;
}

.item_7 {
      grid-area: item-7;
      display: flex;
      align-items: center;
}

.item_8 {
      background: var(--color1);
      grid-area: item-8;
      color: var(--color3);
      text-align: center;
      padding-top: 5px;
}  

.item_9 {
      grid-area: item-9;
}

.athletism {
  height: 100%;
  width: 100%;
}
    
.item_10 {
      grid-area: item-10;
}

.item_11 {
      grid-area: item-11;
}
    
.item_12 {
      grid-area: item-12;
}

.basketball {
  height: 100%;
  width: 100%;
}

.item_13 {
      grid-area: item-13;
}
    
.item_14 {
      grid-area: item-14;
}

.item_15 {
      grid-area: item-15;
}

.fencing {
  height: 100%;
  width: 100%;
}
    
.item_16 {
      grid-area: item-16;
}

.item_17 {
      grid-area: item-17;
}
    
.item_18 {
      grid-area: item-18;
}

.swimming {
  height: 100%;
  width: 100%;
}

.item_19 {
      grid-area: item-19;
}
    
.item_20 {
      grid-area: item-20;
}

footer {
        grid-area: footer;
}

/*footer*/

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: var(--color1);
}

footer a {
  text-decoration: none;
  color: var(--color3);
}

footer a:hover {
  color: var(--color4);
}

@media (min-width: 551px) and (max-width: 760px) {
  .container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 0.01fr 0.1fr 0.03fr 0.1fr 0.05fr 0.1fr 0.08fr;
        grid-template-areas:
        "item-1 item-1 item-1 item-1 item-1 item-2 item-2 item-2"
        "item-3 item-3 item-3 item-3 item-3 item-3 item-3 item-3"
        "item-4 item-4 item-5 item-5 item-6 item-7 item-7 item-7"
        "item-8 item-8 item-8 item-8 item-8 item-8 item-8 item-8"
        "item-9 item-9 item-12 item-12 item-15 item-15 item-18 item-18"
        "item-10 item-10 item-13 item-13 item-16 item-16 item-19 item-19"
        "item-11 item-11 item-14 item-14 item-17 item-17 item-20 item-20"
        "footer footer footer footer footer footer footer footer"
        ;
  }

  body{
    font-size: 12px;
    line-height: 20px;
  }

  .second_title {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
  }

  /*items*/

  .first_title {
      text-align: center;
      font-size: 18px;
      font-weight: 300;
      margin: 0;
      color: var(--color1);
  }

  .torch_photo{
    height: 60%;
    width: 80%;
  }

  .h3_center {
    display: flex;
    justify-content: center;
    }

}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.6fr 0.5fr 0.1fr 0.2fr 0.2fr 0.05fr 0.2fr 0.1fr 0.2fr 0.1fr 0.2fr 0.1fr 0.2fr 0.1fr 0.1fr;
    grid-template-areas:
      "item-1 item-1 item-1 item-1"
      "item-2 item-2 item-2 item-2"
      "item-3 item-3 item-3 item-3"
      "item-4 item-4 item-5 item-5"
      "item-6 item-7 item-7 item-7"
      "item-8 item-8 item-8 item-8"
      "item-9 item-9 item-10 item-10"
      "item-11 item-11 item-11 item-11"
      "item-12 item-12 item-13 item-13"
      "item-14 item-14 item-14 item-14"
      "item-15 item-15 item-16 item-16"
      "item-17 item-17 item-17 item-17"
      "item-18 item-18 item-19 item-19"
      "item-20 item-20 item-20 item-20"
      "footer footer footer footer"
  }

  body{
    font-size: 11px;
    line-height: 20px;
  }

  /*items*/

  .first_title {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 15px;
    color: var(--color1);
  }

  .medals_photo{
    width: 100%;
  }
  
  .second_title {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
  }

  .torch_photo{
    height: 50%;
    width: 60%;
  }
}


    